{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Données personnelles{% endblock %}
{% block description %}Gérez vos données personnelles en toute sécurité sur notre site. Notre plateforme est dédiée au respect et à la protection de votre vie privée.{% endblock %}

{% block ogTitle %}Jaltup - Données personnelles{% endblock %}
{% block ogUrl %}https://jaltup.com/donnees-personnelles{% endblock %}
{% block ogImage %}{{ asset('media/website/jaltup-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Jaltup bannière{% endblock %}
{% block ogDescription %}Gérez vos données personnelles en toute sécurité sur notre site. Notre plateforme est dédiée au respect et à la protection de votre vie privée.{% endblock %}

{% block body %}
    <section class="bg-white py-24 sm:py-28 relative mt-10">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 justify-center">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">Données personnelles</h1>
            </div>
            <div class="mx-auto max-w-2xl lg:mx-0 mt-8">
                <p class="mt-6 leading-8 text-gray-600">Chez <span class="font-semibold text-gray-900">Jaltup SAS</span>, nous apportons une attention particulière au respect de votre vie privée.</p>
                <p class="mt-6 leading-8 text-gray-600">Nous vous remercions d’utiliser nos services et notre site web. Nous prenons le respect de votre vie privée au sérieux.</p>
                <p class="mt-6 leading-8 text-gray-600">Cette charte de confidentialité concerne toute personne physique partageant ses données personnelles directement ou indirectement avec Jaltup SAS en visitant notre site web.</p>
                <p class="mt-6 leading-8 text-gray-600">Jaltup SAS est une société par action simplifiée en cours d’enregistrement. Nous adhérons à la loi sur la protection des données (RGPD).</p>
                <p class="mt-6 leading-8 text-gray-600">Notre siège social est en cours d’enregistrement.</p>
                <p class="mt-6 leading-8 text-gray-600">Vous pouvez nous faire part de vos questions en matière de protection des données à l’adresse suivante : <i>contact@jaltup.com</i></p>
                <p class="mt-6 leading-8 text-gray-600">Cette charte de confidentialité détaille les types de données personnelles qui sont susceptibles d’être traitées et dans leur finalité.</p>

                <h2 class="mt-6 text-xl leading-8 text-gray-900 font-semibold capitalize">PÉRIMÈTRE DE LA CHARTE DE CONFIDENTIALITÉ</h2>
                <p class="mt-6 leading-8 text-gray-600">Veuillez noter que cette charte de confidentialité concerne le traitement des données personnelles dont JALTUP SAS est le responsable de traitement.</p>
                <p class="mt-6 leading-8 text-gray-600">Cette Charte de confidentialité ne concerne aucun traitement de données personnelles que JALTUP SAS peut effectuer en tant que sous-traitant découlant de votre utilisation de nos services.</p>
                <p class="mt-6 leading-8 text-gray-600">Pour obtenir plus d’informations sur la façon dont nos services peuvent être utilisés pour faciliter vos traitements de données personnelles, et sur les responsabilités et les engagements de JALTUP SAS en relation avec ceux-ci, veuillez-vous référer aux conditions applicables.</p>
                <p class="mt-6 leading-8 text-gray-600">Nous appliquons la loi sur la protection des données personnelles (RGPD) pour l’ensemble de nos procédures.</p>

                <h2 class="mt-6 text-xl leading-8 text-gray-900 font-semibold capitalize">DONNÉES PERSONNELLES TRAITÉES</h2>
                <p class="mt-6 leading-8 text-gray-600">Les données personnelles désignent les données qui vous identifient en tant que personne physique. Nous pouvons être amenés à traiter les types de données personnelles suivants vous concernant :</p>
                <p class="mt-6 leading-8 text-gray-600">Vos coordonnées peuvent inclure votre nom, l’adresse courriel et le numéro de téléphone.</p>
                <p class="mt-6 leading-8 text-gray-600">Informations utilisateurs, par exemple, si vous vous connectez à notre service ou visitez nos sites internet. Ces informations peuvent comprendre le numéro IP, le type de périphérique et le navigateur, le fuseau horaire, la situation géographique, ainsi que vos intérêts et préférences, des informations sur la façon dont vous interagissez avec nos services, par exemple sur les fonctionnalités utilisées et les boutons cliqués.</p>

                <h2 class="mt-6 text-xl leading-8 text-gray-900 font-semibold capitalize">FINALITÉS DU TRAITEMENT DES DONNÉES</h2>
                <p class="mt-6 leading-8 text-gray-600">Nous pouvons être amenés à traiter vos données personnelles pour les finalités suivantes :</p>
                <p class="mt-6 leading-8 text-gray-600">• Fournir nos services conformément aux conditions applicables</p>
                <p class="leading-8 text-gray-600">• Développer et améliorer nos services</p>
                <p class="mt-6 leading-8 text-gray-600">Afin de fournir des informations et des offres aux clients de JALTUP SAS actuels ou potentiels sur notre solution par des parties tierces sélectionnées.</p>
                <p class="mt-6 leading-8 text-gray-600">Tout matériel de marketing distribué à l’aide de vos données personnelles vous est envoyé en tant que personne morale représentant un client actuel ou potentiel de JALTUP SAS et non à vous en tant que personne privée.</p>

                <h2 class="mt-6 text-xl leading-8 text-gray-900 font-semibold capitalize">PARTAGE AVEC DES TIERS ET TRANSFERT VERS LES PAYS TIERS</h2>
                <p class="mt-6 leading-8 text-gray-600">Google Analytics : Permet d’analyser le trafic sur le site web https://jaltup.com</p>
                <p class="mt-6 leading-8 text-gray-600">Google Tag Manager : Gestionnaire de balises qui permet aux responsables marketing d’ajouter facilement des balises (Analytics, de remarketing, etc.) sur leur site Web.</p>

                <h2 class="mt-6 text-xl leading-8 text-gray-900 font-semibold capitalize">VOS DROITS</h2>
                <p class="mt-6 leading-8 text-gray-600">Nous avons pour obligation de traiter des éléments personnels précis, pertinents et nécessaires tout en tenant compte de nos finalités légitimes. Vous avez le droit de contrôler ce droit.</p>
                <p class="mt-6 leading-8 text-gray-600">Pour mettre à jour les données personnelles que nous traitons vous concernant, veuillez nous contacter sur <i>contact@jaltup.com</i>.</p>
                <p class="mt-6 leading-8 text-gray-600">Pour recevoir gratuitement un extrait de données personnelles que nous traitons vous concernant, vous pouvez nous envoyer une lettre recommandée à l’adresse suivante : JALTUP SAS, 128 Rue de la Boetie 75008 Paris</p>
            </div>
        </div>
    </section>
{% endblock %}