{% extends 'backend_base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <main class="lg:pl-72">
        <div>
            <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
                <div class="flex items-center justify-between">
                    <div class="min-w-0 flex-1">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Ajouter une entreprise</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
