<h1 class="text-green-600">[Jaltup Inscription] Nouvelle inscription</h1>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/>
<p>Email : {{ emailRegister }}</p>

------