<!DOCTYPE html>
<html lang="fr" class="h-full">
    <head>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex justify-center items-center h-screen">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56D7SJRF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
