{% extends 'error_base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <section class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-4xl font-semibold text-main">404</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page non trouvée</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">La page que vous recherchez n’existe pas.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                {# TODO: Redirect user precendent page / if loggin (dashboard) - if not loggin (home) #}
                {% if app.user %}
                    <a href="{{ path('app_home') }}" class="rounded-md bg-main px-5 py-3.5 text-sm font-semibold text-white shadow-sm hover:bg-main-strong transition duration-200">Revenir</a>
                {% else %}
                    <a href="{{ path('app_home') }}" class="rounded-md bg-main px-5 py-3.5 text-sm font-semibold text-white shadow-sm hover:bg-main-strong transition duration-200">Revenir</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}